[Desktop Entry]
Categories=System;Documentation;
Comment[ru_RU]=Большой FAQ по Fedora
Comment=Big Fedora FAQ in russian
Exec=xdg-open /usr/share/doc/fedora-faq-ru/index.html
Icon=system-help
Name[ru_RU]=fedora-faq-ru
Name=fedora-faq-ru
StartupNotify=false
Terminal=false
Type=Application
